<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="left" size="medium">
      Membership & Tickets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content align="center" class="background">

  <ion-grid style="height: 100%" >
    <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">
      <ion-card id="login-card" >
          <ion-list color="dark">
            <ion-item align="center" >
              <div >

                <ion-button  size = "medium" color="danger" (click)="goToMembershipURL()" class="submit-btn" type="submit" >KALASANMAN MEMBERSHIP</ion-button>
              </div>
            </ion-item>
            <ion-col align="middle" size-lg="3" size-md="4" size-sm="6" size="12" *ngFor="let event of infos; let i = index"  id = "home-card"  >
              <ion-item >
                  <div >
                      <ion-button  size = "medium" color="primary" (click)="goToTicketURL(event.TicketURL)" class="submit-btn" type="submit"   >{{ event.Date }} : {{ event.Name}}</ion-button>
                  </div>
              </ion-item>
            </ion-col>
          </ion-list>
      </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar color="secondary" align="center">
    <ion-title size="small" >
      KalaSanman
    </ion-title>
  </ion-toolbar>
</ion-footer>

