ion-card{
  //--background: 	#800000;
  --background: #FFFFF0;
  margin: 5px 10px;
  //--color: #fff;
}
ion-card.tickets{
  //--background: 	#FFF8DC;
  //--color: #fff;
  --background: #FFFFF0;
 
}
ion-item{
  //--background: 	#FFF8DC;
  //--color: #fff;
  --background: #A52A2A;;
}

ion-button{
 --background: #A52A2A;
}

ion-content.background{
 --background:#FAEBD7;
}

.container {
    position: absolute;
    top: 80%;
    left: 5%;
}