<ion-header >
  <ion-toolbar class="new-header-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align-title="center" class="bar-positive" size="medium">
      <img src="/assets/KalaSanman-25.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content align="center" class="background">

      <ion-card  >
        <img src="/assets/KalaSanman.svg">
        <ion-card class="tickets" align="left" button=true *ngFor="let membership of membershipurl" (click)="goToMembershipURL(membership.TicketURL)">
          <ion-card-header >
            <ion-card-title color="dark" align="left">KALASANMAN MEMBERSHIP</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card button=true align="left"  *ngFor="let event of infos" (click)="goToTicketURL(event.TicketURL)">
          <ion-item *ngIf="event.Status=='Online' || event.Status=='Theater'">
            <ion-card-header >
              <ion-card-title color="dark" align="left">{{ event.Name}}</ion-card-title>
              <ion-card-subtitle color="dark" align="left">{{ event.Status}} : {{ event.Type}}</ion-card-subtitle>
            </ion-card-header>
          </ion-item>
        </ion-card>
      </ion-card>

</ion-content>


