ion-card{
  --background: 	#800000;
  //--color: #fff;
}
ion-card.tickets{
  --background: 	#FFF8DC;
  //--color: #fff;
}

ion-button{
 --background: #A52A2A;
}

ion-content.background{

}

.container {
    position: absolute;
    top: 80%;
    left: 5%;
}