<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425876689460-b7anhm7mmp1a07an4ufse0rvoda8a2on.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425876689460-b7anhm7mmp1a07an4ufse0rvoda8a2on</string>
	<key>API_KEY</key>
	<string>AIzaSyDBrBfbf6pFUf9l1tt27QKAFyTNYFPXTBY</string>
	<key>GCM_SENDER_ID</key>
	<string>425876689460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.kalasanman</string>
	<key>PROJECT_ID</key>
	<string>kalasanman-e68fa</string>
	<key>STORAGE_BUCKET</key>
	<string>kalasanman-e68fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425876689460:ios:117245ca415f7da3e0b061</string>
	<key>DATABASE_URL</key>
	<string>https://kalasanman-e68fa.firebaseio.com</string>
</dict>
</plist>