<ion-header >
    <ion-toolbar class="new-header-background-color">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title align-title="center" class="bar-positive" size="medium">
            <img src="/assets/KalaSanman-25.png">
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="background" >

        <ion-slides [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)" >

            <ion-slide *ngFor="let event of infos" >

                <ion-card >
                <img class="test-image" src={{event.ImageURL}} />
                <ion-card-header>
                    <ion-card-subtitle align="left"> {{ event.Type }}</ion-card-subtitle>
                    <ion-card-title align="left">{{ event.Name }}</ion-card-title>
                    <ion-card-subtitle align="left">Author: {{ event.Author }}</ion-card-subtitle>
                    <ion-card-subtitle align="left">Directed By: {{ event.Director }}</ion-card-subtitle>
                    <ion-card-subtitle align="left">Cast: {{ event.Cast }}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content align="left" >
                    {{ event.Synopsis }}

                    <ion-row >
                        <ion-col >
                            <div align="left" >
                                <a  (click)="goToTicketURL(event.TicketURL)">View On Demand</a>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div align="right">
                                <a (click)="goToReviewsURL(event.Name)">Write A Review</a>
                            </div>
                        </ion-col>
                    </ion-row>

                </ion-card-content>
                </ion-card>
            </ion-slide>

        </ion-slides>

</ion-content>

