<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      Performances
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="dark">
<ion-tabs>
  <ion-tab-bar slot="bottom" color="secondary">
    <ion-tab-button tab="upcoming" color="primary">
      <ion-icon name="videocam"></ion-icon>
      <ion-label >Upcoming</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="pastperf" color="primary">
      <ion-icon name="bowtie"></ion-icon>
      <ion-label >Past Performances</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
