<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      Newsfeed
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="auto" *ngFor="let news of (newsfeed)?.slice().reverse(); let i = index" (click)="externalURL(news.externalURL)">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="primary">{{ news.Date }} : {{ news.Headline }}</ion-card-subtitle>
          </ion-card-header>
          <img src={{news.ImageURL}}>

          <div color="primary"> {{ news.Synopsis }} </div>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title color="secondary" size="small">KalaSanman</ion-title>
  </ion-toolbar>
</ion-footer>
