ion-card{
     margin: 1px 10px;
}

ion-card-title {
    font-size: 30px;
}

.myCard{
  position:relative;
}

.myOverlay{
    width: 100%;
    height: 90px;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    opacity: 0.4;
    background: #000;
    color: #fff;
}

