ion-card{
  --background: #021b46;
  --color: #fff;
}

ion-content.background{
    --background: url(../../assets/496ecb14589707.562865d064f9e.png) ;
    //background: url(../../../assets/kalasanman.jpg) ;
}

page-event-details {
    .event-card {
        background: #545454;
        border: 1px solid secondary;
    }
    .event-info {
        background: #4a4a4a;
    }
}


img{
  width:100%;
  height:100%;
}

.myCard{
  position:relative;

}

.myOverlay{
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    opacity: 0.5;
    background: #000;
    color: #fff;
}