<ion-header>
  <ion-toolbar class="new-header-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="left" size="medium">
      <img src="/assets/KalaSanman-25.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
<ion-card align="top">
  <img class="cls-1" src="/assets/KalaSanman.svg">
</ion-card>

<ion-card class="container-banner">
        <form class="form" [formGroup]="validations_form" >

          <ion-list>

            <ion-item>
              <ion-label position="floating" color="#800000">Email</ion-label>
              <ion-input type="text" formControlName="email"></ion-input>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.email">
                  <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-item>

            <ion-item>
              <ion-label position="floating" color="#800000">Password</ion-label>
              <ion-input type="{{passwordType}}" formControlName="password" class="form-control" required></ion-input>
              <ion-icon name="eye" gray item-end (click)="togglePassword()"></ion-icon>

              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.password">
                  <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-item>

            <p ion-text-right>
              <a (click)="resetPassword(validations_form.value)">Forgot password?</a>
            </p>

            <ion-button expand="block" shape="round" color="primary" (click)="loginUser(validations_form.value)" class="submit-btn" type="submit" [disabled]="!validations_form.valid">Login</ion-button>

            <ion-button expand="block" shape="round" color="danger" (click)="tryRegister(validations_form.value)" [disabled]="!validations_form.valid">Don't have an account?</ion-button>

          </ion-list>
        </form>

</ion-card>
</ion-content>
