<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="primary" align="center">
<ion-card color="secondary" align="middle">
  <ion-card-content >

    <form class="form" [formGroup]="validations_form" >

      <ion-item>
        <ion-label  position="floating" color="primary">Email</ion-label>

        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>


      <ion-item>
        <ion-label  position="floating" color="primary">Password</ion-label>

        <ion-input type="password" formControlName="password" class="form-control" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-button  size ="small" color="primary" (click)="loginUser(validations_form.value)" class="submit-btn" type="submit"  [disabled]="!validations_form.valid">Log In</ion-button>

      <ion-button  size = "small" color="primary" (click)="resetPassword(validations_form.value)" class="submit-btn" type="submit"  >Reset Password</ion-button>


      <ion-card color="primary">

          <ion-card-header color="light">
            <p class="go-to-register" >
              No account? <a (click)="goToRegisterPage()">Create an account</a>
            </p>
          </ion-card-header>

      </ion-card>

    </form>

  </ion-card-content>
</ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary" align="center">
    <ion-title size="small" >
      KalaSanman
    </ion-title>
  </ion-toolbar>
</ion-footer>
