<ion-content class="background">
            <ion-card *ngFor="let event of infos; let i = index" >
                <ion-card-header>
                    <ion-row>
                        <ion-card-title color="light">{{ event.Name }}</ion-card-title>
                    </ion-row>
                    <ion-row>
                        <ion-card-subtitle>{{ event.Author }}</ion-card-subtitle>
                    </ion-row>
                    <ion-row>
                        <ion-img src={{event.ImageURL}}></ion-img>
                    </ion-row>
                    <div class="myOverlay">
                        <div class="card-title" color="light">Directed By:{{ event.Director }}</div>
                        <div class="card-subtitle">Date: {{ event.LastDate }}</div>
                    </div>
                </ion-card-header>
                <ion-card-content>
                    {{ event.Cast }}
                </ion-card-content>
            </ion-card>
</ion-content>









