


<ion-content class="background">
    <ion-card *ngFor="let event of infos" color="dark" >
        <ion-card-header align="center" color="primary">
            <ion-card-title> {{event.Name}}</ion-card-title>
        </ion-card-header >

        <ion-img  src={{event.ImageURL}} align="center"></ion-img>
        <ion-card-content>
                    Author: {{event.Author}}, Director: {{event.Director}}, Type: {{event.Type}}, Last Show Date: {{event.LastDate}},
                    Shows: {{event.Shows}}, Total Shows: {{event.TotalShows}}, Description: {{event.Synopsis}}
                    Cast: {{event.Cast}}
        </ion-card-content>
    </ion-card>
</ion-content>






