ion-card{
     --background: #A52A2A;
}
ion-card.form{
     --background: #800000;
}

ion-content.background{
    --background:#FAEBD7;
}

ion-text{
   color:#FAEBD7;
}

ion-fab-button {
 --background: #A52A2A;
}