<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="center" size="medium">
      KalaSanman
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" >

  <ion-grid style="height: 100%">
    <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">
      <ion-card id = "home-card">
        <ion-list>
          <ion-item color="primary">
            <ion-img  src="assets/kalasanman_logo.png"></ion-img>
          </ion-item>
        </ion-list>

          <ion-list>
            <ion-item color="primary">
              <ion-label fixed>Platform for Performing Arts</ion-label>
            </ion-item>
          </ion-list>
      </ion-card>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button>Share</ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" onclick="window.open('https://facebook.com/kalasanmancincy/', '_system', 'location=yes'); return false;"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button color="primary" onclick="window.open('https://instagram.com/kalasanmancincy/', '_system', 'location=yes'); return false;"> <ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      <ion-fab-button color="primary" onclick="window.open('https://twitter.com/#kalasanman/', '_system', 'location=yes'); return false;"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content >

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-title size="small" align="center">
      KalaSanman
    </ion-title>
  </ion-toolbar>
</ion-footer>
