<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="center" size="medium">
      KalaSanman
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
      <ion-card-header color="primary">
        <ion-card-subtitle size="small" align="center" color="light">Welcome To KalaSanman</ion-card-subtitle>
      </ion-card-header>
</ion-card>

<ion-content color="primary">



</ion-content>

<ion-card>
      <ion-card-header color="primary">
        <ion-card-subtitle size="small" align="center" color="light">Platform for Performing Arts</ion-card-subtitle>
      </ion-card-header>
</ion-card>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-title size="small" align="center">
      KalaSanman
    </ion-title>
  </ion-toolbar>
</ion-footer>
