ion-card{
  //--background: #021b46;
  --background:#FAEBD7;
  --color: #fff;
   margin: 1px 10px;
}

ion-content.background{
    --background:#FAEBD7;
}

ion-item{
   --ion-background-color:	#FFFAF0;
}