<ion-header>
  <ion-toolbar>
    <ion-title>Become A Member</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-padding>

  <ion-grid>
    <ion-row>
      <ion-col ion-text-center>
        Welcome to Dashboard!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col ion-text-center>
        Your Registered EmailID : {{userEmail}}
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>