<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="left" size="medium">
      Member Interests
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content align="center" class="background">

    <form class="form"  [formGroup]="validations_form">
      <ion-card align="left">
        <ion-card-header color="primary">
          KalaSanman provides a platform for performance of a play, dance, recitals, music, or any other performing art by local artists.
          Please provide your information so we know your interests!!!
        </ion-card-header>
      </ion-card>

      <ion-grid style="height: 100%">

          <ion-row>
    <ion-col size="8">
      <div>
        <ion-item>
          <ion-label  position="floating" color="primary">Full Name</ion-label>
          <ion-input type="text" formControlName="fname"></ion-input>
          <div class="validation-errors" >
            <ng-container *ngFor="let validation of validation_messages.fname">
              <div class="error-message" *ngIf="validations_form.get('fname').hasError(validation.type) && (validations_form.get('fname').dirty || validations_form.get('fname').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-item>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <ion-item>
          <ion-label  position="floating" color="primary">Age Group</ion-label>
          <ion-input type="text" formControlName="age" placeholder="30-40"></ion-input>
          <div class="validation-errors" >
            <ng-container *ngFor="let validation of validation_messages.age">
              <div class="error-message" *ngIf="validations_form.get('age').hasError(validation.type) && (validations_form.get('age').dirty || validations_form.get('age').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>

          <ion-row>
          <ion-col>
            <div>
              <ion-item>
                <ion-label  position="floating" color="primary">Address</ion-label>
                <ion-input type="text" formControlName="address"></ion-input>
                <div class="validation-errors" >
                  <ng-container *ngFor="let validation of validation_messages.address">
                    <div class="error-message" *ngIf="validations_form.get('address').hasError(validation.type) && (validations_form.get('address').dirty || validations_form.get('address').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-item>
            </div>
          </ion-col>
      </ion-row>

          <ion-row>
        <ion-col >
          <div>
            <ion-item>
              <ion-label  position="floating" color="primary">Email</ion-label>
              <ion-input readonly="true" value="{{userEmail}}" type="text" formControlName="email"></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="5">
          <div>
            <ion-item>
              <ion-label  position="floating" color="primary">Contact Number</ion-label>

              <ion-input type="text" formControlName="cnumber" placeholder="Ten Digits"></ion-input>
              <div class="validation-errors" >
                <ng-container *ngFor="let validation of validation_messages.cnumber">
                  <div class="error-message" *ngIf="validations_form.get('cnumber').hasError(validation.type) && (validations_form.get('cnumber').dirty || validations_form.get('cnumber').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

          <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label  position="floating" color="primary">Interests</ion-label>
              <ion-input type="text" formControlName="interests" placeholder="Backstage,Perform,Stage,Sound"></ion-input>
              <div class="validation-errors" >
                <ng-container *ngFor="let validation of validation_messages.interests">
                  <div class="error-message" *ngIf="validations_form.get('interests').hasError(validation.type) && (validations_form.get('interests').dirty || validations_form.get('interests').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

          <ion-row>
        <ion-col size="6">
          <div>
            <ion-item>
              <ion-label  position="floating" color="primary">Art Preferences</ion-label>
              <ion-input type="text" formControlName="art" placeholder="Theater,Music,Recital"></ion-input>
              <div class="validation-errors" >
                <ng-container *ngFor="let validation of validation_messages.art">
                  <div class="error-message" *ngIf="validations_form.get('art').hasError(validation.type) && (validations_form.get('art').dirty || validations_form.get('art').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-item>
          </div>
        </ion-col>
        <ion-col >
          <div>
            <ion-item>
              <ion-label  position="floating" color="primary">Language Preference</ion-label>
              <ion-input type="text" formControlName="language" placeholder="Marathi,Hindi,English"></ion-input>
              <div class="validation-errors" >
                <ng-container *ngFor="let validation of validation_messages.language">
                  <div class="error-message" *ngIf="validations_form.get('language').hasError(validation.type) && (validations_form.get('language').dirty || validations_form.get('language').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      </ion-grid>

    </form>

    <ion-button  size = "full" color="danger" (click)="addMember(validations_form.value)" class="submit-btn" type="submit"  [disabled]="!validations_form.get('fname').valid" >SUBMIT</ion-button>

</ion-content>



<ion-footer>
  <ion-toolbar color="secondary" align="center">
    <ion-title size="small" >
      KalaSanman
    </ion-title>
  </ion-toolbar>
</ion-footer>
